        
.main-background {
    background-image: url(img/background.jpg);
    background-position: center;
    background: cover ;
    color: white ;
    }



        
.fish-img ima {
    width: 120;
    height: 120;
    }

